.app {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(224, 250, 250);
}

.tweet {
  border: 2px solid blueviolet;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red;
  font-size: 50px;
}
